*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.content {
  display: flex;
  width: 1140px;
  gap: 30px;
}

.search-form {
  display: flex;
  flex: 1;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.search-form__textfield {
  appearance: none;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: #fff;
  background-color: transparent;
  padding: 2.5px;
  padding-right: 14px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline-offset: 2px;
  outline: 1px solid #fff;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  height: 19px;
  width: 19px;
  padding: 1.5px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-container {
  height: 300px;
  gap: 30px;
  overflow-y: auto;
  min-height: 300px;
  position: relative;
}

.content__details {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  margin-bottom: 16px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  min-width: 194px;
}

.content__video-card-title {
  font-family: 'Oswald' sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 6px;
  max-width: 196px;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.result {
  padding-top: 78px;
}

.result__video-container {
  display: flex;
  align-items: flex-end;
  min-height: 386px;
  min-width: 711px;
  margin-bottom: 16px;
  position: relative;
}

.result__video-container video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
  line-height: 100%;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover .content__video-card-title,
.content__card-link:hover .content__video-card-description {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__list-item {
  padding: 0 3px;
}

.button {
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  cursor: pointer;
  padding: 6px 20px;
}

.search-form__submit-button {
  width: 194px;
  min-height: 34px;
  align-self: flex-end;
}

.more-button {
  min-height: 34px;
  width: 100%;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050; /* цвет из макета */
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

